{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
{% load crispy_forms_tags  %}
    

    <div class="container col-lg-6 col-md-12 mx-auto">

        <div class="card">
            <div class="card-header">
                <h1 class="">{% trans "Change Password" %}</h1>


            </div>

                

                <div class=" card-body ">
                    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <hr class="">
                        <div class="text-center">
                            <v-btn  dark class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</v-btn>

                        </div>
                    </form>

                </div>

        </div>
       

    </div>
    
    
{% endblock %}
